<div class="panel panel-default">
    <div class="panel-heading">
        Bienvenue sur notre centre d'aide
    </div>
    <div class="panel-body">
        <div class="container">
            <h3>Comment trouver une annonce de colocation adaptée à mon besoin ?</h3>
            
            <p>- Dans quelle école vas-tu t'inscrire ?</p>
            <p>Sur la homepage, tu peux chercher ta colocation en fonction de ton école. Ex : HEC</p>
            <P>Tu trouveras automatiquement les colocations possibles près de ton école.</P>
            
             <p>- Ensuite, sur la page de résultats, tu peux filtrer :</p>
            <P>le prix (max et minimum)</P>
            <P>le nombre de places disponibles</P>
            
            <h3>Comment s'inscire ?</h3>
            
            <p>Cliques sur inscription</p>
            <p>Renseignes votre nom complet</p>
            <P>Ton école</P>
            <P>Ton adresse email</P>
            <p>Créer un mot de passe</p>
            
            <h3>Les avantages d'être membre fullroom ?</h3>
            
            <P>Tu peux récupérer les coordonnées données par un hôte Fullroom afin de le contacter si tu es intéressé par une offre</P>
            <P>Tu peux le contacter directement via la messagerie de Fullroom</P>
            <P>Tu peux mettre en favoris des annonces sur le site</P>
            <p>Tu peux créer des annonces de colocations sur le site</p>
            <p>Et tout ça gratuitement :D</p>
            
            <h4>Rejoins Fullroom et postes gratuitement ton annonce !</h4>
        </div>
    </div>
</div>
        