<div class="panel panel-default">
    <div class="panel-heading">
        Charte
    </div>
    <div class="panel-body">
        <div class="container">
        
        <h3>Gem utilisées</h3>
        <p>GEM DEVISE : Inscription / Connexion / Déconnexion </p>
        <p>GEM DEVISE i18n : pour la traduction</p>
        <p>GEM PAPERCLIP : avatar / ajout d'images</p>
        <p>GEM RANSACK : Recherche par database (école, prix, nombre de places disponibles</p>
        <P>GEM TOASTR RAILS : Messages flash de rails et devise</P>
        
        <br>
        <h3>Models : </h3>
        <p>user</p>
        <p>room</p>
        <p>reservation</p>
        <p>photo</p>
        <p>conversation</p>
        <P>messages</P>
        
        </div>
    </div>
</div>
        