<style type="text/css">
  #container_footer{
    display: flex;
    justify-content: center;
  }
  #footer_item{
    flex: 1;
  }
</style>
<footer class="footer">
    <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-10">
              <span class="navbar-text" id="footer_item">
                <%= link_to 'Aidez-moi :)',  pages_aidezmoi_path %>
              </span>
              <span class="navbar-text" id="footer_item">
                <%= link_to 'Charte',  pages_charte_path %>
              </span>

              <span class="navbar-text" id="footer_item">
                <%= link_to 'Informations légales',  pages_informations_path %>
              </span>

              <span class="navbar-text" id="footer_item">
                <%= link_to 'Politique de confidentialité',  pages_conditions_path %>
              </span>
            </div>
        </div>
    </div>
</footer>
